<!--파일명: app.html
    프로그램 목적 및 기능:
        - app에 관한 페이지를 보여준다.
    프로그램 작성자: 박 형 건 (2024년 1월 23일 (화))
    최종 Update: 2024.01.23
    ===============================================================
    프로그램 수정 및 보완 이력
    ===============================================================
    프로그램 작성자    보완 일자               보완 내용
    박 형 건        2024.1.23(금)        메인 맵 페이지에서 상단바 선택 시
                                       화면이 넘어가도록 구성
    ===============================================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>