<!--파일명: integratedpipeline.html
    프로그램 목적 및 기능:
        - 통합 관로에 대한 페이지이다.
    프로그램 작성자: 박 형 건 (2024년 2월 07일 (수))
    최종 Update: 2024.02.07
    ===============================================================
    프로그램 수정 및 보완 이력
    ===============================================================
    프로그램 작성자    보완 일자               보완 내용
    박 형 건        2024.2.07(수)         페이지 구성
    ===============================================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>통합관로 정보</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mapstyle.css}">
    <style>

    </style>
</head>

<body>
    <div id="menu-bar">
        <a href="/app">APP</a>
        <a href="/map">지도보기</a>
        <a href="/underground">지하매설관로</a>
        <a href="/realtime-collaboration">실시간 원격협업</a>
    </div>

</body>
</html>