<!--파일명: app.html
    프로그램 목적 및 기능:
        - 지하매설물관리에 관한 페이지를 보여준다.
    프로그램 작성자: 박 형 건 (2024년 1월 23일 (화))
    최종 Update: 2024.02.02
    ===============================================================
    프로그램 수정 및 보완 이력
    ===============================================================
    프로그램 작성자    보완 일자               보완 내용
    박 형 건        2024.1.23(금)        메인 맵 페이지에서 상단바 선택 시
                                       화면이 넘어가도록 구성
    박 형 건        2024.2.02(금)        현재 페이지의 틀 구성
    ===============================================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>지하매설관로</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mapstyle.css}">
</head>

<body>
    <div id="menu-bar">
        <a href="/app">APP</a>
        <a href="/map">지도보기</a>
        <a href="/underground">지하매설관로</a>
        <a href="/realtime-collaboration">실시간 원격협업</a>
    </div>

</body>
</html>